<p>{{ name }}, Добро пожаловать</p>
<p>Мы рады приветствовать тебя в команде WeFood!</p>
<h1>{{ password }}</h1>
<strong>Это твой пароль для входа в WeFood: CRM. <i>Смотри не потеряй его!</i></strong>
<br>
<br>
<br>
<p>Давай накормим как можно больше народу ;)</p>
<small>Дата генерации письма: {{ date_time }}</small>