<p>{{ name }}, Мы поменяли твой пароль!</p>
<h1>{{ password }}</h1>
<strong>Это твой новый пароль для входа в WeFood: CRM. <i>Смотри не потеряй его снова!</i></strong>
<br>
<br>
<br>
<p>Давай накормим как можно больше народу ;)</p>
<small>Дата генерации письма: {{ date_time }}</small>